.App {
  text-align: center;
  background-image: url(https://reactnativestarter-hosting-mobilehub-132039435.s3.amazonaws.com/IMG_0174.JPG);
  background-repeat: no-repeat;
  background-size: 100%;
}


